<style>
    a.aclink {
        text-decoration: underline;
        color: #000;
    }

    .text-disclaimer.acnote {
        color: #333;
        direction: rtl;
        text-align: right;
    }
</style>
<p class="text-disclaimer acnote" dir="rtl">
    <span data-bind="i18n: 'Free delivery and installation are available includes 3m pipes and cantilever, any other service or spare parts of installation are available with extra fees, '"></span>
    <span data-bind="i18n: 'Terms & Conditions Apply.'"></span>
    <a class="aclink" data-bind="i18n: ' contact us '" href="https://www.lg.com/eg_ar/support/telephone" target="_blank"></a>
    <span data-bind="i18n: ' for more information. '"></span>
</p>
